*{
    padding:0;
    margin:0;
    font-family:"Actor";
}
    /* PAGE-CONTAINER */
.page-container{
    margin-left:5px;
    margin-right:5px;
}
    /* NAVIGATION-SECTION */
.navigation-position{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:100;
}

.navigation-container{
    display:flex;
    justify-content:space-between;
    background-color:white;
    border-bottom:1px solid #c4c4c4;
}

.navigation-logo h3{
    font-size:20px;
    padding:20px;
    color:#023e8a;
}

.navigation-container nav ul{
    display:flex;
}

.navigation-container nav ul li{
    padding:20px;
    font-weight:800;
    font-size:20px;
    list-style:none;
}

.navigation-container nav ul li a{
    text-decoration:none;
    color:#00b4d8;
}

.nav-toggle-button{
    display:none;
}

    /* HOME SECTION */

.background-video{
    filter: brightness(50%);
}

.home-container{
    border:1px solid red;
    height:110vh;
}

.home{
    position:relative;
    top:-400px;
    display:grid;
    align-content:space-around;
    border:1px solid red;
    width:50vw;
    padding-left:2em;
    height:55vh;
    color:white;
}

.home h1{
    font-size:58px;
    font-weight:1500;
}

.home h1 span{
    color:#00b4d8;
}

.home h2{
    font-size:28px;
}

.contact-button{
    width:120px;
    height:40px;
    color:white;
    background:transparent;
    border:1px solid white;
    font-size:20px;
    font-weight:800;
}

.contact-button:hover{
    background-color:white;
    color:black;
}

.about-container{
    display:grid;
    justify-content:center;
}

.about-container > h1{

}

.about-subcontainer{
    display:flex;
    justify-content: space-around;
}

#about-img{
    border-radius:0 0 50% 50%;
    z-index:100;
}


.about-text{
    display:grid;
    align-content:space-around;
    width:50%;
}

.about-text h3{
    font-size:30px;
    font-weight:200;
}

.about-text h4{
    font-size:25px;
    font-weight:200;
}

.about-text h5{
    font-size:23px;
    font-weight:200;
}

.about-text span{
    color:#00b4d8;
}

.skills-subcontainer{
    display:flex;
    justify-content:space-around;
}

.skills-image img{
    width:500px;
}

.skill-bars{
    border:1px solid red;
    width:600px;
    display: grid;
    justify-content:center;
}

.skill{
    border:1px solid red;
    width:500px;
}

.skill progress{
    width:500px;
    height:50px;
}

.skill-logo{
    display:flex;
    justify-content:space-between;
}

.project-container{

}

.projects{
    display:grid;
    grid-template-columns:repeat(2 , 1fr);
    row-gap:20px;
}

.project-card{
    width:600px;
    display:grid;
    border:1px solid #c4c4c4;
    height:500px;
}

.project-card img{
    width:600px;
}

.project-card p{
    font-size:24px;
    width:500px;
    padding:10px;
}

.project-card a{
    padding:10px;
    width:100px;
    height:20px;
    border:1px solid #00b4d8;
    text-decoration:none;
    color:#00b4d8;
    background-color: transparent;
    font-weight:800;
}

.project-card a:hover{
    background-color:#00b4d8;
    color:white;
}

.contact-container{
    display:grid;
    justify-content:center;
}

.contacts form{
    display:grid;
    width:700px;
}

.contacts form input{
    height:50px;
    margin-top:10px;
}

.footer-container{
    display:grid;
    justify-content:center;
    background-color: #023e8a;
    height:300px;
    color:white;
    text-align:center;
}

.footer-container h2{
    font-size:32px;
    font-family:"Poppins"
}

