*{
    padding:0;
    margin:0;
    font-family:"Poppins";
}
    /* PAGE-CONTAINER */
.page-container{
    margin-left:5px;
    margin-right:5px;
}
    /* NAVIGATION-SECTION */
.navigation-position{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:100;
}

.navigation-container{
    display:flex;
    justify-content:space-between;
    background-color:white;
    border-bottom:1px solid #c4c4c4;
    width:100%;
}

.navigation-logo h3{
    font-size:20px;
    padding:20px;
    color:#023e8a;
}

.navigation-container nav ul{
    display:flex;
}

.navigation-container nav ul li{
    padding:20px;
    font-weight:800;
    font-size:20px;
    list-style:none;
}

.navigation-container nav ul li a{
    text-decoration:none;
    color:#00b4d8;
}

.nav-toggle-button{
    display:none;
}

    /* HOME SECTION */

.background-video{
    filter: brightness(50%);
    width:100%;
}

.home-container{
    height:110vh;
}

.home{
    position:relative;
    top:-400px;
    display:grid;
    align-content:space-around;
    width:50%;
    padding-left:2em;
    height:55vh;
    color:white;
}

.home h1{
    font-size:58px;
    font-family:"Poppins";
    font-weight:1500;
}

.home h1 span{
    color:#00b4d8;
    font-family:"Poppins";
}

.home h2{
    font-size:28px;
    font-family:"Poppins";
}

.contact-button{
    width:120px;
    height:40px;
    color:white;
    background:transparent;
    border:1px solid white;
    font-size:20px;
    font-weight:800;
}

.contact-button:hover{
    background-color:white;
    color:black;
}

.about-container{
    display:grid;
    justify-content:center;
    text-align:center;
}

.about-container h2{
    color:#00b4d8;
}

.about-subcontainer{
    display:flex;
    justify-content: space-around;
}

#about-img{
    border-radius:0 0 50% 50%;
    z-index:100;
}


.about-text{
    display:grid;
    align-content:space-around;
    width:50%;
    text-align:start;
}

.about-text h3{
    font-size:30px;
    font-weight:200;
}

.about-text h4{
    font-size:25px;
    font-weight:200;
}

.about-text h5{
    font-size:23px;
    font-weight:200;
}

.about-text span{
    color:#00b4d8;
}

.skills-container{
    text-align:center;
}

.skills-container h2{
    color:#00b4d8;
    padding:20px;
}

.skills-subcontainer{
    display:flex;
    justify-content:space-around;
}

.skills-image img{
    width:100%;
}

.skill-bars{
    width:600px;
    display: grid;
    justify-content:center;
}

.skill{
    width:500px;
}

.skill progress{
    max-width:500px;
    width:100%;
    height:50px;
}

.skill-logo{
    display:flex;
    justify-content:space-between;
}

.project-container{
    text-align:center;
}

.project-container h2{
    color:#00b4d8;
    padding:20px;
}

.projects{
    display:grid;
    grid-template-columns:repeat(2 , 1fr);
    justify-content:center;
    row-gap:20px;
}

.project-card{
    max-width:500px;
    width:100%;
    display:grid;
    border:1px solid #c4c4c4;
    height:520px;
    text-align:start;
}

.project-card img{
    max-width:500px;
    width:100%;
}

.project-card p{
    font-size:24px;
    width:500px;
    padding:10px;
}

.project-card a{
    margin:10px;
    padding:10px;
    width:100px;
    height:20px;
    border:1px solid #00b4d8;
    text-decoration:none;
    color:#00b4d8;
    background-color: transparent;
    font-weight:800;
}

.project-card a:hover{
    background-color:#00b4d8;
    color:white;
}

.contact-container{
    display:grid;
    justify-content:center;
    text-align:center;
}

.contact-container > h2{
    padding:20px;
    color:#00b4d8;
}

.contacts form{
    display:grid;
    width:100%;

}

.contacts form input{
    height:50px;
    margin-top:10px;
}

.footer-container{
    display:grid;
    justify-content:center;
    background-color: #023e8a;
    height:300px;
    color:white;
    text-align:center;
}

.footer-container h2{
    font-size:32px;
    font-family:"Poppins"
}


@media(max-width:1000px){
    .home{
        width:70%;
    }

    .home h1{
        font-size:42px;
    }

    .home h2{
        font-size:24px;
    }

    .projects{
        grid-template-columns:repeat(1 , 1fr);
        row-gap:20px;
    }

    .project-card{
        max-width:1000px;
        width:100%;
        height:auto;
    }

    .project-card img{
        max-width:1000px;
        width:100%;
    }
}

@media(max-width:900px){
    .background-video{
        width:900px;
        height:500px;
        overflow:hidden;
    }

    .home{
        align-content: space-between;
        height:70vh;
    }

    .home-container{
        overflow:hidden;
    }

    .about-text h3{
        font-size:20px;
    }

    .about-text h4{
        font-size:18px;
    }

    .about-text h5{
        font-size:16px;
    }

    .skill progress{
        width:400px;
    }
}

@media(max-width:768px){
    .navigation-container nav{
        display:none;
    }

    .nav-toggle-button{
        display:block;
    }
    .about-subcontainer{
        display:grid;
        align-content:center;
    }

    .about-text{
        max-width:700px;
        width:100%;
    }

    .about-text h3{
        padding:10px;
    }

    .about-text h4{
        padding:10px;
    }

    .about-text h5{
        padding:10px;
    }

    .skills-subcontainer{
        display:grid;
        width:100%;
    }

    .skills-image{
        display:inline-block;
        max-width:500px;
        width:100%;
    }

    .skills-image img{
        max-width:500px;
        width:100%;
    }

    .contacts form{
        width:100%
    }

}

@media(max-width:648px){
    .home h1{
        font-size:28px;
    }

    .home h2{
        font-size:20px;
    }
    .navigation-container{

    }
}

@media(max-width:512px){

}

@media(max-width:440px){
    .home h1{
        font-size:24px;
    }

    .home h2{
        font-size:16px;
    }
}